* {
    overflow-x: hidden;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
text-decoration: none;
}
img.selected {
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
    background: linear-gradient(130.36deg, #000000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
    border-radius: 5px;
    height: 200px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(130.36deg, #000000 0%, transparent 44.03%, #70FF00 99.99%, #fda604 100%);
    border-radius: 5px;
}

body {
    position: relative;

    /*width: 100%;*/
    background: linear-gradient(130.36deg, #000000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    background: linear-gradient(130.36deg, #000000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 5;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
}


.navigation {
    color: #fff;
    background: transparent;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;

    gap: 30px;
    align-items: center;
    line-height: 30px;
}

.header__logo {
    font-size: 50px;
    line-height: 59px;
}


.portfolio {
    display: flex;
    /*width: 19%;*/
    justify-content: space-around;
}

.contacts {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.far {
    display: block;
    width: 50px;
    height: 50px;
}

.in {
    background-image: url('../img/in.svg');
}

.git {
    background-image: url("../img/git.svg");
}

.header__contacts_message {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 25px;
    border: 5px solid transparent;
    border-image: linear-gradient(to left top, #5bf800 5%, transparent 35%, transparent 65%, #63fdc0 95%);
    border-image-slice: 1;
    transition-property: border-image;
    transition-duration: 5s;
    /*border-image-source: linear-gradient(180deg, rgba(112, 255, 0, 0.55) 0%, #FFFFFF 100%);*/


}
.header__contacts_message:hover{
    border: 5px solid transparent;
    border-image: linear-gradient(to left top, #5bf800 25%, transparent 72%, transparent 60%, #63fdc0 86%);
    border-image-slice: 1;

    transition-property: border-image;
    transition-duration: 3s;

}
/*.navigation_item,*/
/*.header__contacts_social{*/
/*    box-sizing: content-box;*/


.navigation_item a:hover,
.con:hover{
color: #63fdc0;
}
.far:hover{
    transform: scale(1.1);

}


.header__contacts_social {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 5px;
}


.conLogo {
    flex: 0 0 50px;
    height: 50px;
}

.con {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;

    color: #FFFFFF;
}

.info-bar {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    position: relative;
    z-index: 1;
    padding: 80px 0 30px 0;
    /*padding-bottom: 5vh;*/
}

.info-bar_first-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.info-bar_first-block_person {

    display: flex;
    flex-direction: column;
    /*width: 47%;*/
    justify-content: space-between;

}

.hello {

    font-size: 39px;
    line-height: 46px;
    color: #E0E0E0;
}

.head {
    font-size: 78px;
    line-height: 91px;
    letter-spacing: 0.1em;
    color: #70FF00;
    width: 285px;
}

.position {

    font-size: 57px;
    line-height: 67px;
    color: #E0E0E0;
}

.info-bar_first-block_experience {

    display: flex;
}

.exp-inf {
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #828282;

}

.exp-count {
    padding-right: 7%;
    font-size: 86px;
    line-height: 101px;
    text-transform: uppercase;
    color: #828282;

}

.info-bar_first-block_ava {
    width: 615px;
    height: 700px;
    background-image: url(../img/ava.svg);
    background-repeat: no-repeat;
}

.person_second {
    display: flex;
    justify-content: space-between;
}

.about {
    font-size: 49px;
    line-height: 57px;
    color: #70FF00;
    margin-bottom: 25vh;
}

.about_inf {

    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    color: #F2F2F2;
}

.about-me {
    width: 52%;
}

.about-position {
    width: 39%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.pos {
    width: 100%;
    /*height: 48%;*/
    position: relative;
    background: #4F4F4F;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    padding: 0 5%;


}

.view-spec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name-S {
    font-size: 33px;
    line-height: 37px;
    color: #FFFFFF;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
}

.link-to {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #70FF00;
}


.img-spec {
    position: absolute;
    right: 10%;
    top: 35%;
    display: flex;
    align-items: center;
    padding-left: 25%;
}

.main {
    flex: 1 1 auto;
    padding: 65px 0;

}

.skills {
    padding: 30px 0;
    background: #161616;
    height: 300px;
}

.about {
    padding: 30px 0;
}

.skills__container {

}



.images {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images__image {
    position: relative;
    width: 128px;
    height: 128px;
}

.images__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.img-skill {
    padding-right: 10%;
}

.title {
    color: #70FF00;
    font-size: 35px;
    line-height: 57px;
    padding: 15px 0;
}

.project{
    padding: 30px 0;

    display: flex;
    justify-content: center;
}
.images_project{
    display: flex;
    background: rgba(37, 37, 37, 0.39);

}
.project__image{
    width: 489px;
    height: 361px;
    border: 3px solid #70FF00;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

}

/*                             SWIPER                      */
.swiper{
 width: 80%;
}

.swiper-wrapper{
    max-width: 1600px;
    /*display: flex;*/

}

.swiper-wrapper .carousel{
    white-space: nowrap;
    cursor: url("../img/cursor.svg"), pointer;

}
.link-prod{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.prod-item{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    height: 380px;
    width: calc(100%/3.5);
}

._visible{
    z-index: 95;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    top: 40px;
    left: 40px;
}
.name-project{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    font-size: 16px;
}
.link-prod:hover{
    cursor: url("../img/cursor.svg"), pointer;
}
.carousel{
    gap: 15px;

}
.link-prod img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
}
.carousel img:hover{
    box-sizing: border-box;
    box-shadow: #70FF00;
    transition: opacity 0.3s ease-in 0.4s;
    border: 2px solid #70FF00;
}
/*.carousel img:first-child{*/
/*    margin-left: 0px;*/
/*}*/

@media  screen and (max-width: 1400px) {
    .head{
      width: auto;
    }
    .info-bar_first-block {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .carousel img{
        width: calc(100%/2.8);
        height: 340px;

    }
}
@media  screen and (max-width: 768px) {
    .carousel img{
        width: calc(100%/2.1);
        height: 340px;

    }
    .info-bar_first-block {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media  screen and (max-width: 550px) {
    .carousel img{
        width: calc(100%/1.2);
        height: 310px;
    }
}




.education {
    padding: 20px 0;
    background-color: var(--second-bg-color);
}

.education__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: calc(16px + 2 * ((100vw - 320px) / 1920));
    font-weight: 500;
    transition: all 0.3s ease;
}
.education__item::before {
    content: "";
    display: flex;
    flex: 0 0 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--decor-color);
    box-shadow: 1px 1px 1px #9c9c9c;
    margin: 10px 20px 10px 0px;
    animation: dots 10s linear infinite;
}

@-webkit-keyframes dots {
    0% {
        background-color: var(--decor-color);
    }
    10% {
        background-color: #70FF00;
    }
    20% {
        background-color: #71d954;
    }
    30% {
        background-color: #37d31e;
    }
    40% {
        background-color: #69e00f;
    }
    50% {
        background-color: #8bff00;
    }
    60% {
        background-color: #773f3f;
    }
    70% {
        background-color: #f80c66;
    }
    80% {
        background-color: #ffd501;
    }
    90% {
        background-color: #fffb71;
    }
    100% {
        background-color: #a2d200;
    }
}

.footer {
    padding: 20px 0;
    background: linear-gradient(transparent, black 25%);
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__year {
    font-weight: 700;
    font-size: 35px;

}
.footer__social-links{
    display: flex;
    justify-items: center;

}
.footer-ul{
    display: flex;
    flex-direction: column-reverse;
}